#center {
    margin-top: 10%;
    text-align: center;
}

#in {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    padding: 2mm;
    font-size: 17px;
    text-align: center;
    border-radius:7mm;
    width: 8cm;

}

.btn{
    display :flex;
    justify-content: center;
}

button{
    margin: 9mm;
    width: 33mm;
    border-radius: 6mm;
    height: 9mm;
    cursor: pointer;
}
button:hover{
    font-size: 17px;
}

body {
    background-color: #00cfa5;
}